<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" class="css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Fredoka+One&family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
    <title>Too-Doo</title>
  </head>
  <body>
    <div class="heading">
      <h1><%= listHeadings %></h1>
    </div>

    <div class="box">
      <div class="box-header">
        <% for( let i = 0; i < newListItems.length; i++ ) { %>
        <div class="item">
          <input type="checkbox" />
          <p><%= newListItems[i] %></p>
        </div>

        <% } %>
      </div>

      <form action="/" method="post">
        <input
          type="text"
          name="newItem"
          placeholder="Add a new item..."
          autocomplete="off"
          maxlength="40"
        />
        <button type="submit" name="list" value="<%=listHeadings %>">+</button>
      </form>
    </div>

    <footer id="footer">Michael Haraeb &#174; <%= year %></footer>
  </body>
</html>
