* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(206deg, #fff3b0 50%, #ca26ff 50%);
  background-size: cover;
}

.heading {
  font-family: "Roboto", sans-serif;
  max-width: 650px;
  font-size: 1.5rem;
  background-color: #f06ede;
  font-weight: 300;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem 0;
}

.box {
  max-width: 600px;
  min-height: 20px;
  max-height: 400px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 15px -5px;
}

.item {
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.item p {
  display: inline-block;
  margin-left: 20px;
}

.item input[type="checkbox"],
p {
  padding: 10px;
  font-size: 1.5rem;
}

p {
  color: #888787;
  font-size: 1.2rem;
}

.item:last-child {
  border-bottom: 0;
}

.item input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #f06ede;
}
form {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form input[type="text"] {
  color: #888787;
  width: 500px;
  padding-top: 30px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #888787;
}

form input[type="text"]:focus {
  border-bottom: 1px solid #f06ede;
}

form button {
  border: none;
  font-size: 2rem;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ca26ff;
}
form button:hover {
  background-color: white;
  color: #ca26ff;
  border: 2px solid #ca26ff;
  cursor: pointer;
}

::placeholder {
  color: #888787;
  text-align: center;
  font-size: 1.3rem;
}

#footer {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
